* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
// $main: #358066;
$main: #00c853;
@mixin center($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: #d3d5db;
  @include center(center, center);
  .container {
    height: 100%;
    width: 700px;
    // overflow: auto;
    background-color: #16202c;
    @include center(center, center);
    .signin {
      width: 140px;
      height: 140px;
      color: white;
      @include center(center, center);
      row-gap: 30px;
      flex-direction: column;
      font-size: 0.8em;
      cursor: pointer;
      border: 3px solid rgba(255, 255, 255, 0.329);
      div {
        color: $main;
        font-size: 3em;
        background-color: transparent;
        border: 0;
        width: 50px;
        height: 50px;
        @include center(center, center);
      }
    }
    .Chatroom {
      position: relative;
      width: 100%;
      height: 100%;
      .day {
        color: #4c505c;
        font-weight: 700;
        text-align: center;
      }
      .msg,
      .mymsg {
        position: relative;
        padding: 10px 10px 20px 10px;
        @include center(flex-start, flex-start);
        min-height: 80px;
        column-gap: 8px;
        .infos {
          position: absolute;
          color: #4c505c;
          font-weight: 700;
          font-size: 0.8em;
          bottom: 0;
        }
        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 2px solid #3e4555;
        }
        .msg-value {
          width: 60%;
          max-width: 60%;
          min-height: 50px;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 8px;

          p {
            color: #fff;
            word-break: break-all;
          }
        }
      }
      .msg {
        flex-direction: row;
        .infos {
          left: 60px;
        }
        .msg-value {
          background-color: #586066;
        }
      }
      .mymsg {
        flex-direction: row-reverse;
        .infos {
          bottom: 0;
          right: 60px;
        }
        .msg-value {
          background-color: $main;
        }
      }
      .main {
        width: 100%;
        height: 80%;
        overflow: auto;
      }
      .header {
        height: 10%;
        width: 100%;
        min-height: 60px;
        background-color: transparent;
        color: #fff;
        @include center(center, space-between);
        padding: 0 25px;
        button {
          background-color: transparent;
          border: 0;
          width: 40px;
          height: 40px;
          font-size: 2em;
          color: $main;
          cursor: pointer;
        }
        h6 {
          font-size: 1.4em;
          color: $main;
          font-weight: 700;
          font-family: "Lobster", cursive;
          letter-spacing: 3px;
        }
      }
      .msg-form {
        background-color: #16202c;
        width: 100%;
        height: 10%;
        min-height: 60px;
        @include center(center, center);
        div {
          width: 95%;
          height: 80%;
          border: 1px solid #343e48;
          border-radius: 5px;
          input {
            width: 90%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            padding: 5px;
            font-size: 1.1em;
          }
          button {
            width: 10%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: $main;
            font-size: 25px;
            cursor: pointer;
            &:disabled {
              color: gray;
              cursor: initial;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
